th{
    background-color: black;
    color: white;
    text-align: center;
}
th:first-child{
    text-align: left;
}

td:first-child{
    min-width: 100px;
    text-align: left;
}
td{
    min-width: 50px;
    text-align: center;
}

td:nth-child(even){
    background-color: lightgrey;
}


#fiche_joueur{
    display: inline-block;
}
#fiche_enemy{
    float:right;
}

#game{
    text-align: center;
}

.red{
    color: red !important;
    font-weight: bold;
}